/* =============== Google polices (Font) ================= */
/* =============== couleurs (colores) ================= */
/* =============== source et typographie ================= */
/* =============== scroll smooth ================= */
/* -------------------------------------------------------- grid-options-16-1440  -------------------------------------------------------- */
.grid-options-16-1440 {
  width: 1024px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #022b88;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  box-sizing: border-box;
}
.grid-options-16-1440 .col {
  width: 69px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 0, 0, 0.05);
  margin: 0 10px;
}
.grid-options-16-1440 .n-1 {
  margin-left: 0;
}
.grid-options-16-1440 .n-16 {
  margin-right: 0;
}

/* -------------------------------------------------------- grid-options- 12 - 1024  -------------------------------------------------------- */
@media all and (max-width: 1025px) {
  .grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 64px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options-8 - 768  -------------------------------------------------------- */
@media all and (max-width: 769px) {
  .grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 74px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 425  -------------------------------------------------------- */
@media all and (max-width: 426px) {
  .grid-options-16-1440 .n-5,
.grid-options-16-1440 .n-6,
.grid-options-16-1440 .n-7,
.grid-options-16-1440 .n-8,
.grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 83px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 375  -------------------------------------------------------- */
@media all and (max-width: 376px) {
  .grid-options-16-1440 .n-5,
.grid-options-16-1440 .n-6,
.grid-options-16-1440 .n-7,
.grid-options-16-1440 .n-8,
.grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 71px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 320  -------------------------------------------------------- */
@media all and (max-width: 321px) {
  .grid-options-16-1440 .n-5,
.grid-options-16-1440 .n-6,
.grid-options-16-1440 .n-7,
.grid-options-16-1440 .n-8,
.grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 58px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- fin :grid-options -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .container {
  position: absolute;
  width: 30px;
  height: 20px;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
header .container .bars {
  width: 30px;
  height: 4px;
  background: #000;
}
header .container .bars::before,
header .container .bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000;
}
header .container .bars::before {
  margin-top: 9px;
}
header .container .bars::after {
  margin-top: 18px;
}
header nav {
  position: absolute;
  background: #000;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -200vw;
}
header nav ul li {
  margin: 40px 0;
}
header nav ul li a {
  color: #fafafa;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  pointer-events: none;
  opacity: 0;
}
header nav ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}
header nav ul li a:hover:after {
  transform: scaleX(1);
}
header nav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}
header nav .close div::before,
header nav .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #fff;
  transition: background 0.5s ease;
}
header nav .close div::before {
  transform: rotate(-45deg);
}
header nav .close div::after {
  transform: rotate(45deg);
}
header nav .close:hover div::before .close:hover div::after {
  background: rgb(209, 3, 3);
}

#back {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
#back h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Playfair Display" serif;
  line-height: 100px;
  margin: 80px;
  font-weight: bold;
  font-style: italic;
}
#back #topup {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
#back #topup .imgcntnr {
  width: 250px;
  height: 250px;
  background-color: yellow;
  background-size: cover;
  background-position: center;
}
#back #topup #one,
#back #topup #sx {
  width: 250px;
  height: 400px;
  background-color: red;
}
#back #topup #one {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  background-color: blue;
}
#back #topup #sx {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  background-color: blue;
}
#back #topup #holdr1 {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(0, -50%);
}
#back #topup .holdr div {
  margin-top: 20px;
}
#back #topup #holdr2 {
  position: absolute;
  top: 50%;
  right: 300px;
  transform: translate(0, -50%);
}
#back #topup #videoplyr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 100vh;
  overflow: hidden;
  background-color: green;
}
#back #topup #videoplyr video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
}
#back #topup #one {
  background-image: url(../assets/img/ImgR2-4.png);
}
#back #topup #two {
  background-image: url(../assets/img/imgR2-1.jpg);
}
#back #topup #three {
  background-image: url(../assets/img/imgR2-2.png);
}
#back #topup #fr {
  background-image: url(../assets/img/imgL2-6.jpg);
}
#back #topup #fv {
  background-image: url(../assets/img/imgL2-4.jpg);
}
#back #topup #sx {
  background-image: url(../assets/img/imgL2-1.jpg);
}
#back .contact {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
}
#back .contact h2 {
  font-family: "Oswald", sans-serif, serif;
  font-size: 59px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}
#back .contact .contactmy {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#back .contact .contactmy .cabinetmaps {
  width: 50%;
  height: auto;
}
#back .contact .contactmy .cabinetmaps .cabinet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#back .contact .contactmy .cabinetmaps .cabinet h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  transition: all 0.3s linear;
  font-family: "Oswald", sans-serif;
}
#back .contact .contactmy .cabinetmaps .cabinet h2:hover {
  text-decoration: underline;
}
#back .contact .contactmy .cabinetmaps .cabinet p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
#back .contact .contactmy .cabinetmaps .cabinet a {
  padding: 8px 0 0 0;
  margin: auto;
  color: black;
  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer;
}
#back .contact .contactmy .cabinetmaps .cabinet a i {
  color: #022b88;
  transition: all 0.2s linear;
}
#back .contact .contactmy .cabinetmaps .cabinet a i:hover {
  color: green;
}
#back .contact .contactmy .cabinetmaps .cabinet a:hover {
  transform: scale(1.1);
}
#back .contact .contactmy .cabinetmaps .maps {
  width: 100%;
  height: auto;
  height: auto;
  padding: 20px 0;
}
#back .contact .contactmy .cabinetmaps .maps iframe {
  width: 100%;
}
#back .contact .contactmy .cabinetmaps .maps iframe:hover {
  box-shadow: 0 2px 15px #022b88;
}
#back .contact .contactmy form {
  width: 40%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
#back .contact .contactmy label {
  font-family: "Oswald", sans-serif;
}
#back .contact .contactmy input:not(#boutonSend),
#back .contact .contactmy textarea,
#back .contact .contactmy label {
  display: block;
  margin: 5px auto;
  width: 100%;
  color: #000;
}
#back .contact .contactmy input::-moz-placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
#back .contact .contactmy input:-ms-input-placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
#back .contact .contactmy input::placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
#back .contact .contactmy input:not(#boutonSend),
#back .contact .contactmy textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #022b88;
  color: #000;
  font-size: 18px;
  padding: 5px 5px;
}
#back .contact .contactmy textarea {
  font-size: 1em;
  padding: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
}
#back .contact .contactmy #date {
  cursor: pointer;
}
#back .contact .contactmy #boutonSend {
  width: 30%;
  font-size: 18px;
  padding: 15px 0;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #545557;
  color: #fff;
  border-radius: 3px;
}
#back .contact .contactmy #boutonSend:hover {
  background-color: transparent;
  color: #000;
  transform: scale(1.05);
  text-decoration: underline;
}
#back .contact .contactmy input:focus,
#back .contact .contactmy textarea:focus {
  outline: 1px solid #20a39d;
  background: rgba(128, 128, 128, 0.759);
}
#back #subject {
  border: none;
  transition: all 0.3s ease;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}
#back #subject:hover {
  background-color: #545557;
  color: #fff;
}
#back #subject:focus {
  outline: 1px solid #20a39d;
}
#back .suite {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #eee;
}/*# sourceMappingURL=formulaire.css.map */