/*  Section bioetsport
=========================================================================== */
/* CONTENT-double page
    =========================== */
.bioetsport {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #bed4dd;
  flex-wrap: wrap;
}

.twincol {
  /* position: absolute; */
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  overflow: hidden;
}

.split__left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  background: #0192cc;
  flex: 1 1 213px;
  overflow: hidden;
  transition: 1s all cubic-bezier(0.87, 0.76, 0.33, 0.98);
  order: 1;
  position: absolute;
}

.split__right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  background: #ffa100;
  flex: 1 1 213px;
  overflow: hidden;
  transition: 1s all cubic-bezier(0.87, 0.76, 0.33, 0.98);
  order: 2;
  position: absolute;
}

/* ---------------------------------------- */

.hover-split__left .twincol.split__left {
  width: 60%;
}

.hover-split__left .twincol.split__right {
  width: 40%;
}

.hover-split__right .twincol.split__right {
  width: 60%;
}

.hover-split__right .twincol.split__left {
  width: 40%;
}

.skateboard {
  width: 85%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoes {
  width: 100%;
  aspect-ratio: 16/9;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  width: 100%;
  height: auto;
  position: absolute;
  padding: 5%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s cubic-bezier(0.87, 0.76, 0.33, 0.98);
}

.text .subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}

.text .title {
  font-size: clamp(1rem, -0.1659rem + 5.7399vw, 5rem);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "sansserifexbflf-italic";
  line-height: 1;
  letter-spacing: 5px;
  margin-top: 10px;
}

.text .desc {
  font-size: 14px;
  width: 400px;
  color: #fff;
  font-weight: 300;
  line-height: 2;
  margin: 10px 0 30px 0;
}

.text .button {
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: #fff solid 2px;
  padding: 10px 50px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
}

.text .button:hover {
  background-color: #fff;
  color: #000;
}

.hover-split__left .twincol.split__left .text {
  transform: translate(-40%, -50%) scale(1.1);
}

.hover-split__left .twincol.split__right .text {
  transform: translate(-40%, -50%) scale(0.5);
}

.hover-split__right .twincol.split__right .text {
  transform: translate(-45%, -50%) scale(1.1);
}

.hover-split__right .twincol.split__left .text {
  transform: translate(-45%, -50%) scale(0.5);
}

/*  Section custom xxxxxx
=========================================================================== */
