@font-face {
  font-family: "Poppins Extra Bold";
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Black";
  src: url(/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Italic";
  src: url(/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Regular";
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Medium";
  src: url(/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Thin";
  src: url(/fonts/Poppins/Poppins-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Light";
  src: url(/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Oswald Bold";
  src: url(/fonts/Oswald/Oswald-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Oswald SemiBold";
  src: url(/fonts/Oswald/Oswald-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald Variable";
  src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}

/* =============== couleurs (colores) ================= */
$color-bleu-turquoise: #39c7ce;
$color-bleu-marine: #022b88;
$dark-color: #272d40;
$dark-color-lighten: #f2f5ff;
@font-face {
  font-family: "Oswald Bold ";
  src: url(/fonts/Oswald/Oswald-Bold.ttf) format(truetype);
}
// @font-face {
// font-family: "Oswald ";
// src: url(/Sulayman/fonts/Oswald/Oswald-Bold.ttf) format(truetype);
// }
//
//   src: url(/Sulayman/fonts/Poppins/Poppins-BlackItalic.ttf) format("truetype");
//   src: url(/Sulayman/fonts/Poppins/Poppins-BoldItalic.ttf) format("truetype");
//   src: url(/Sulayman/fonts/Poppins/Poppins-ExtraBold.ttf) format("truetype");
//   src: url(/Sulayman/fonts/Poppins/Poppins-ExtraBoldItalic.ttf)
//     format("truetype");
//   src: url(/Sulayman/fonts/Poppins/Poppins-ExtraLight.ttf) format("truetype");
//   src: url(/Sulayman/fonts/Poppins/Poppins-ExtraLightItalic.ttf)
//     format("truetype");

//
//   src: url(/Sulayman/fonts/Poppins/Poppins-LightItalic.ttf) format("truetype");
//
//   src: url(/Sulayman/fonts/Poppins/Poppins-MediumItalic.ttf) format("truetype");
//
//   src: url(/Sulayman/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
//   src: url(/Sulayman/fonts/Poppins/Poppins-SemiBoldItalic.ttf)
//     format("truetype");
//
//   src: url(/Sulayman/fonts/Poppins/Poppins-ThinItalic.ttf) format("truetype");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Poppins Regular";
  margin-bottom: 60px;
}

.vignette {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  // flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(1, 1, 1, 0.3));
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(assets/jerene-nov-2020-mental_health-123rf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .card {
    &:hover .ImgBox {
      width: 200px;
      height: 160px;
    }
    #particles-js {
      position: absolute;
      z-index: 0;
      bottom: 5vh;
    }
    margin: 50px;
    position: relative;
    max-width: 350px;
    min-width: 300px;

    height: 24vh;
    background: white;
    border: 3px solid #39c7ce;
    border-radius: 15px;

    box-shadow: 5px 5px 10px whitesmoke;
    transition: all 0.3s linear;
    &:hover {
      height: 390px;
    }
    .ImgBox {
      position: absolute;
      width: 150px;
      height: 130px;
      background: #000;
      left: 50%;
      top: -70px;
      transform: translateX(-50%);
      border-radius: 15px;
      box-shadow: 0 15px 50px #39c7ce;
      overflow: hidden;
      transition: all 0.3s linear;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    .contenu {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      // background-color: orange;

      .details {
        width: 100%;
        text-align: center;
        transition: all 0.3s;
        transform: translateY(77px);
      }
      h2 {
        padding: 10px 0 0 0;
        font-size: 1.3em;
        color: black;
        font-family: "Poppins Regular";
      }
      .Apercu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1.2em;

        // background-color: #fff;
        padding: 0 7px;
        h3 {
          font-size: 0.75em;
          font-family: "Poppins Regular";
          color: $color-bleu-marine;
          opacity: 0.4;
          padding: 0;
          margin: 0 5px;
        }
      }
      .Btns {
        // background-color: purple;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 11vh;
        margin-bottom: 10px;
        button {
          position: relative;
          z-index: 10;
          padding: 5px 8px;
          margin: 0px 15px;
          font-size: 0.8em;
          border: none;
          outline: none;
          font-family: "Poppins Medium";
          border-radius: 3px;
          color: #022b88;
          cursor: pointer;
          box-shadow: 1px 2px 5px #39c7ce;
          transition: all 0.3s linear;
          a {
            text-decoration: none;
            color: #022b88;
          }
          &:hover {
            transform: scale(1.04);
            border: 1px solid #39c7ce;
          }
          &:nth-child(1) {
            &:hover {
              background-color: #022b88;
              color: white;
              ~ button {
                transform: scale(1.04);
                border: 1px solid #39c7ce;
              }
            }
          }
          &:nth-child(2) {
            color: white;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------- grid-options-16-1440  -------------------------------------------------------- */
.grid-options-16-1440 {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-bleu-marine;
  position: fixed;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  box-sizing: border-box;
  .col {
    width: 69px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }

  .n-1 {
    margin-left: 0;
  }
  .n-16 {
    margin-right: 0;
  }
}
/* -------------------------------------------------------- grid-options- 12 - 1024  -------------------------------------------------------- */
@media all and (max-width: 1025px) {
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 64px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}

/* -------------------------------------------------------- grid-options-8 - 768  -------------------------------------------------------- */
@media all and (max-width: 769px) {
  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 74px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 425  -------------------------------------------------------- */

@media all and (max-width: 426px) {
  .grid-options-16-1440 .n-5,
  .grid-options-16-1440 .n-6,
  .grid-options-16-1440 .n-7,
  .grid-options-16-1440 .n-8,
  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }
  .modal {
    width: 70%;
    height: 80vh;
    .contenu-popup {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        padding: 10px 15px;
        font-family: "Poppins Medium";
        font-size: 1em;
        text-align: left;
        color: rgb(13, 89, 230);
      }
    }
  }
  .col {
    width: 83px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 375  -------------------------------------------------------- */

@media all and (max-width: 376px) {
  .grid-options-16-1440 .n-5,
  .grid-options-16-1440 .n-6,
  .grid-options-16-1440 .n-7,
  .grid-options-16-1440 .n-8,
  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }

  .col {
    width: 71px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}

/* -------------------------------------------------------- grid-options- 4 - 320  -------------------------------------------------------- */

@media all and (max-width: 321px) {
  .grid-options-16-1440 .n-5,
  .grid-options-16-1440 .n-6,
  .grid-options-16-1440 .n-7,
  .grid-options-16-1440 .n-8,
  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 58px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- fin :grid-options -------------------------------------------------------- */

//  animation popup
.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  border: 1px solid whitesmoke;
  border-radius: 7px;
  background: linear-gradient(35deg, $color-bleu-turquoise, $color-bleu-marine);
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
  max-width: 700px;
  max-height: 600px;
  overflow: scroll;
  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .popUpEnTete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    .titre {
      font-size: 1.8em;
      text-decoration: underline;
      font-family: "Poppins Extra Bold";
      color: whitesmoke;
      transition: all 0.3s ease-out;
      &:hover {
        transform: translateX(20%);
      }
    }
    .close-button {
      border: none;
      outline: none;
      font-size: 1.5em;
      font-weight: bold;
      background: none;
      cursor: pointer;
      color: whitesmoke;
      transition: all 0.3s ease;
      &:hover {
        transform: rotate(90deg) scale(1.2);
      }
    }
  }
  .contenu-popup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p {
      padding: 10px 15px;
      font-family: "Poppins Medium";
      font-size: 1.2em;
      line-height: 1.5em;
      text-align: justify;
      color: whitesmoke;
    }
    button {
      width: 50%;
      padding: 5px 8px;
      margin: 15px 0;
      font-size: 0.8em;
      border: none;
      outline: none;
      font-family: "Poppins Medium";
      border-radius: 3px;
      color: $color-bleu-marine;
      cursor: pointer;
      box-shadow: 1px 2px 5px #39c7ce;
      transition: all 0.3s linear;
      &:hover {
        transform: scale(1.04);
        border: 1px solid #39c7ce;
      }
    }
  }
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  &.active {
    pointer-events: all;
    opacity: 1;
  }
}
// #modal5 {
//   font-size: 0.95rem;
// }
