/* =============== Google polices (Font) ================= */
/* =============== couleurs (colores) ================= */
/* =============== source et typographie ================= */
/* =============== scroll smooth ================= */
@font-face {
  font-family: Saol Display-Li;
  src: url("../assets/fonts-polices/saol/SaolDisplay-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: Saol Display-Medium;
  src: url("../assets/fonts-polices/saol/SaolDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Saol Display-Bi;
  src: url("../assets/fonts-polices/saol/SaolDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: Saol Display-SBi;
  src: url("../assets/fonts-polices/saol/SaolDisplay-SemiboldItalic.woff2") format("woff2");
}
/* ---------------------------------------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  /* optional: show position indicator in red */
}
html ::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space /
  background: transparent; /* optional: just make scrollbar invisible */
}
html ::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/*  header
=========================================================================== */
body {
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100;
}
header.sticky {
  padding: 10px 100px;
  background: #1a77ad;
}
header.sticky .logo {
  color: #fff;
}
header.sticky .hamburger path {
  stroke: #fff;
}
header .logo {
  /* position: relative; */
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-style: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header .menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}
header .hamburger path {
  fill: none;
  stroke: #333;
  stroke-linecap: round;
}

/*  Section menu burger 
=========================================================================== */
.fullpage-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 99;
}
.fullpage-menu .fullpage-menu-inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 100px 60px;
}
.fullpage-menu .menu-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.fullpage-menu .menu-bg span {
  width: 100%;
  background: #1a77ad;
  display: block;
  height: 33.334%;
}
.fullpage-menu nav {
  position: relative;
  z-index: 10;
}
.fullpage-menu nav ul {
  list-style-type: none;
}
.fullpage-menu nav li {
  transition: transform 300ms ease-in-out;
  overflow: hidden;
}
.fullpage-menu nav li + li {
  margin-top: 20px;
}
.fullpage-menu nav li a {
  font-size: 5vmax;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
}
.fullpage-menu nav li:hover {
  transform: translateX(50px);
}

.header-nav-footer {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
.header-nav-footer .social-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
}
.header-nav-footer .social-links li {
  font-size: 18px;
  font-weight: 500;
}
.header-nav-footer .social-links li + li {
  margin-left: 15px;
}
.header-nav-footer .social-links li:last-child {
  margin-left: auto;
}
.header-nav-footer .social-links a {
  color: #fff;
  text-decoration: none;
}

/*  btn to up
=========================================================================== */
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #37a3fe;
  top: -80px;
  right: 0px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  transition: 0.6s ease-out;
  opacity: 0;
  z-index: 98;
}
.gotopbtn.active {
  top: calc(100% - 100px);
  opacity: 1;
}
.gotopbtn:hover {
  background-color: #27aa60;
}

/*  Section progression 
=========================================================================== */
#progression {
  width: 0;
  height: 5px;
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 101;
}

/*  Section title 
=========================================================================== */
.mf_home_page {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.mf_home_page img {
  width: 100%;
}
.mf_home_page .bg {
  height: 100vh;
  background-size: cover;
}
.mf_home_page .home_svg {
  width: 1rem;
  margin: 2em auto;
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  fill: black;
}
.mf_home_page .mf_home_container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}
.mf_home_page .mf_home_content {
  color: rgb(0, 0, 0);
  text-align: center;
}
.mf_home_page .mf_home_content h1 {
  font-size: 4vmax;
  margin-bottom: 0;
  font-weight: 800;
  font-style: italic;
}
.mf_home_page .mf_home_content p {
  font-size: 1.3rem;
}
.mf_home_page .mf_home_content .mf_home_text-reveal {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1.5s;
  transform: translateY(-3em);
}
.mf_home_page .mf_home_locations-container {
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  bottom: 0;
}
.mf_home_page .mf_home_locations-container .mf_home_local {
  width: 50%;
  height: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  transform: translateY(2em);
}
.mf_home_page .mf_home_locations-container .mf_home_local .imghover {
  overflow: hidden;
  height: auto;
}
.mf_home_page .mf_home_locations-container .mf_home_local .imghover img {
  width: 100%;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
.mf_home_page .mf_home_locations-container .mf_home_local .imghover img:hover {
  transform: scale(1.2);
  z-index: -1;
}
.mf_home_page .mf_home_locations-container .mf_home_local .mf_home_info {
  background: white;
  padding: 3em;
  position: relative;
  margin-top: -0.5em;
  z-index: 2;
}
.mf_home_page .mf_home_locations-container .mf_home_local .mf_home_info .mf_home_title {
  font-size: 2rem;
  margin-top: -5.5em;
  margin-bottom: 2.5em;
  font-weight: bold;
  border: 1px solid red;
}
.mf_home_page .mf_home_locations-container .mf_home_local .mf_home_info .mf_home_title span {
  display: block;
  font-size: 1.5rem;
}
.mf_home_page .mf_home_locations-container .mf_home_local .mf_home_info :nth-child(2) {
  text-align: center;
}

/*  Section animation video
=========================================================================== */
#back {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
#back h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Playfair Display" serif;
  line-height: 100px;
  margin: 80px;
  font-weight: bold;
  font-style: italic;
}
#back #topup {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
#back #topup .imgcntnr {
  width: 15vw;
  aspect-ratio: 1/1;
  background-color: yellow;
  background-size: cover;
  background-position: center;
}
#back #topup #one,
#back #topup #sx {
  width: 12.5vw;
  height: 25vw;
  background-color: red;
}
#back #topup #one {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  background-color: blue;
}
#back #topup #sx {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  background-color: blue;
}
#back #topup #holdr1 {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(0, -50%);
}
#back #topup #holdr1 #two {
  width: 18.5vw;
  height: 20vw;
}
#back #topup #holdr1 #three {
  width: 18.5vw;
  height: 12.5vw;
}
#back #topup .holdr div {
  margin-top: 20px;
}
#back #topup #holdr2 {
  position: absolute;
  top: 50%;
  right: 300px;
  transform: translate(0, -50%);
}
#back #topup #holdr2 #fr {
  width: 18.5vw;
  height: 12.5vw;
}
#back #topup #holdr2 #fv {
  width: 18.5vw;
  height: 20vw;
}
#back #topup #videoplyr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: green;
}
#back #topup #videoplyr video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
}
#back #topup #one {
  background-image: url(../assets/img/ImgR2-4.png);
}
#back #topup #two {
  background-image: url(../assets/img/imgR2-1.jpg);
}
#back #topup #three {
  background-image: url(../assets/img/imgR2-2.png);
}
#back #topup #fr {
  background-image: url(../assets/img/imgL2-6.jpg);
}
#back #topup #fv {
  background-image: url(../assets/img/imgL2-4.jpg);
}
#back #topup #sx {
  background-image: url(../assets/img/imgL2-1.jpg);
}

/*  Section bioetsport
=========================================================================== */
/*  Section qui somme nous ?
=========================================================================== */
.quisommenous {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quisommenous .qsn_titre h2 {
  width: 100%;
  height: auto;
  font-size: 40px;
  font-family: Saol Display;
  text-align: center;
  padding: 30px;
}
.quisommenous .my__office {
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}
.quisommenous .my__office .qsn__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 213px;
}
.quisommenous .my__office .qsn__left h3 {
  font-weight: 800;
  padding: 10px;
}
.quisommenous .my__office .qsn__left p {
  font-size: 14px;
  width: 100%;
  height: auto;
  padding: 16px 100px;
  text-align: justify;
}
.quisommenous .my__office .qsn__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 213px;
}
.quisommenous .my__office .qsn__right img {
  width: 72%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 425px) {
  .quisommenous {
    width: 100vw;
    min-height: auto;
    display: flex;
  }
  .quisommenous .qsn_titre h2 {
    font-size: 30px 0;
    text-align: center;
    padding: 20px;
  }
  .quisommenous .my__office {
    width: 100%;
    height: auto;
  }
  .quisommenous .my__office .qsn__left {
    width: 100%;
    height: auto;
  }
  .quisommenous .my__office .qsn__left p {
    padding: 10px;
  }
  .quisommenous .my__office .qsn__right {
    width: 100%;
    height: 100%;
  }
  .quisommenous .my__office .qsn__right img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media all and (max-width: 844px) {
  .quisommenous {
    width: 100vw;
    height: auto;
    display: flex;
  }
  .quisommenous .qsn_titre h2 {
    font-size: 30px 0;
    text-align: center;
    padding: 20px;
  }
  .quisommenous .my__office {
    width: 100%;
    height: auto;
  }
  .quisommenous .my__office .qsn__left {
    width: 50%;
    height: auto;
  }
  .quisommenous .my__office .qsn__left p {
    padding: 10px;
  }
  .quisommenous .my__office .qsn__right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #022b88;
  }
  .quisommenous .my__office .qsn__right img {
    width: 100%;
    aspect-ratio: 1/1.6;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
/*  Section FAQ
=========================================================================== */
.faq {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(138, 0, 252);
}

/*  Section Avis Google
=========================================================================== */
.avisgoogle {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  background-color: rgb(252, 235, 0);
}

/*  Section Contact
=========================================================================== */
.contact {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
}
.contact h2 {
  font-family: "Oswald", sans-serif, serif;
  font-size: 59px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}
.contact .contactmy {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact .contactmy .cabinetmaps {
  width: 50%;
  height: auto;
}
.contact .contactmy .cabinetmaps .cabinet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.contact .contactmy .cabinetmaps .cabinet h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  transition: all 0.3s linear;
  font-family: "Oswald", sans-serif;
}
.contact .contactmy .cabinetmaps .cabinet h2:hover {
  text-decoration: underline;
}
.contact .contactmy .cabinetmaps .cabinet p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.contact .contactmy .cabinetmaps .cabinet i {
  padding: 10px 0;
  margin: auto;
  font-family: "Oswald", sans-serif;
  transition: all 0.2s linear;
  cursor: pointer;
}
.contact .contactmy .cabinetmaps .cabinet i:hover {
  transform: scale(1.1);
}
.contact .contactmy .cabinetmaps .maps {
  width: 100%;
  height: auto;
  height: auto;
  padding: 20px 0;
}
.contact .contactmy .cabinetmaps .maps iframe {
  width: 100%;
}
.contact .contactmy .cabinetmaps .maps iframe:hover {
  box-shadow: 0 2px 15px #022b88;
}
.contact .contactmy form {
  width: 40%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.contact .contactmy label {
  font-family: "Oswald", sans-serif;
}
.contact .contactmy input:not(#boutonSend),
.contact .contactmy textarea,
.contact .contactmy label {
  display: block;
  margin: 5px auto;
  width: 100%;
  color: #000;
}
.contact .contactmy input::-moz-placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
.contact .contactmy input:-ms-input-placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
.contact .contactmy input::placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
.contact .contactmy input:not(#boutonSend),
.contact .contactmy textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #022b88;
  color: #000;
  font-size: 18px;
  padding: 5px 5px;
}
.contact .contactmy textarea {
  font-size: 12px;
  padding: 10px 15px;
}
.contact .contactmy #boutonSend {
  width: 30%;
  font-size: 18px;
  padding: 15px 0;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #545557;
  color: #fff;
  border-radius: 3px;
}
.contact .contactmy #boutonSend:hover {
  background-color: transparent;
  color: #000;
  transform: scale(1.05);
  text-decoration: underline;
}
.contact .contactmy input:focus,
.contact .contactmy textarea:focus {
  outline: 1px solid #20a39d;
}
.contact #subject {
  border: none;
  transition: all 0.3s ease;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
}
.contact #subject:hover {
  background-color: #545557;
  color: #fff;
}
.contact #subject:focus {
  outline: 1px solid #20a39d;
  border-radius: 5px;
}

/*  Section avis google
=========================================================================== *//*# sourceMappingURL=style.css.map */