@font-face {
  font-family: "Poppins Extra Bold";
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Black";
  src: url(/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Italic";
  src: url(/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Regular";
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Medium";
  src: url(/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Thin";
  src: url(/fonts/Poppins/Poppins-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Light";
  src: url(/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald Bold";
  src: url(/fonts/Oswald/Oswald-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald SemiBold";
  src: url(/fonts/Oswald/Oswald-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald Variable";
  src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}
/* =============== couleurs (colores) ================= */
@font-face {
  font-family: "Oswald Bold ";
  src: url(/fonts/Oswald/Oswald-Bold.ttf) format(truetype);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Poppins Regular";
  margin-bottom: 60px;
}

.vignette {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(75deg, #022b88, #39c7ce);
}
.vignette .card {
  margin: 50px;
  position: relative;
  max-width: 350px;
  min-width: 300px;
  height: 190px;
  background: white;
  border: 3px solid #39c7ce;
  border-radius: 15px;
  box-shadow: 5px 5px 10px whitesmoke;
  transition: all 0.2s linear;
}
.vignette .card:hover .ImgBox {
  width: 200px;
  height: 160px;
}
.vignette .card:hover {
  height: 390px;
}
.vignette .card .ImgBox {
  position: absolute;
  width: 150px;
  height: 130px;
  background: #000;
  left: 50%;
  top: -70px;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 0 15px 50px #39c7ce;
  overflow: hidden;
  transition: all 0.2s linear;
}
.vignette .card .ImgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.vignette .card .contenu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.vignette .card .contenu .details {
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  transform: translateY(77px);
}
.vignette .card .contenu h2 {
  padding: 10px 0 0 0;
  font-size: 1.3em;
  color: black;
  font-family: "Poppins Regular";
}
.vignette .card .contenu .Apercu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.2em;
  padding: 0 7px;
}
.vignette .card .contenu .Apercu h3 {
  font-size: 0.75em;
  font-family: "Poppins Regular";
  color: #022b88;
  opacity: 0.4;
  padding: 0;
  margin: 0 5px;
}
.vignette .card .contenu .Btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 11vh;
  margin-bottom: 10px;
}
.vignette .card .contenu .Btns button {
  padding: 5px 8px;
  margin: 0px 15px;
  font-size: 0.8em;
  border: none;
  outline: none;
  font-family: "Poppins Medium";
  border-radius: 3px;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 1px 2px 5px #39c7ce;
  transition: all 0.15s linear;
}
.vignette .card .contenu .Btns button a {
  text-decoration: none;
  color: black;
}
.vignette .card .contenu .Btns button:hover {
  transform: scale(1.04);
  border: 1px solid #39c7ce;
}
.vignette .card .contenu .Btns button:nth-child(1) {
  background-color: #022b88;
}
.vignette .card .contenu .Btns button:nth-child(1):hover {
  background-color: #fff;
  color: #022b88;
}
.vignette .card .contenu .Btns button:nth-child(1):hover ~ button {
  background-color: #022b88;
  color: white;
}
.vignette .card .contenu .Btns button:nth-child(1):hover ~ button a {
  text-decoration: none;
  color: white;
}
.vignette .card .contenu .Btns button:nth-child(2) {
  color: #022b88;
}

/* -------------------------------------------------------- grid-options-16-1440  -------------------------------------------------------- */
.grid-options-16-1440 {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #022b88;
  position: fixed;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  box-sizing: border-box;
}
.grid-options-16-1440 .col {
  width: 69px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 0, 0, 0.05);
  margin: 0 10px;
}
.grid-options-16-1440 .n-1 {
  margin-left: 0;
}
.grid-options-16-1440 .n-16 {
  margin-right: 0;
}

/* -------------------------------------------------------- grid-options- 12 - 1024  -------------------------------------------------------- */
@media all and (max-width: 1025px) {
  .grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 64px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options-8 - 768  -------------------------------------------------------- */
@media all and (max-width: 769px) {
  .grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 74px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 425  -------------------------------------------------------- */
@media all and (max-width: 426px) {
  .grid-options-16-1440 .n-5,
.grid-options-16-1440 .n-6,
.grid-options-16-1440 .n-7,
.grid-options-16-1440 .n-8,
.grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 83px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 375  -------------------------------------------------------- */
@media all and (max-width: 376px) {
  .grid-options-16-1440 .n-5,
.grid-options-16-1440 .n-6,
.grid-options-16-1440 .n-7,
.grid-options-16-1440 .n-8,
.grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 71px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- grid-options- 4 - 320  -------------------------------------------------------- */
@media all and (max-width: 321px) {
  .grid-options-16-1440 .n-5,
.grid-options-16-1440 .n-6,
.grid-options-16-1440 .n-7,
.grid-options-16-1440 .n-8,
.grid-options-16-1440 .n-9,
.grid-options-16-1440 .n-10,
.grid-options-16-1440 .n-11,
.grid-options-16-1440 .n-12,
.grid-options-16-1440 .n-13,
.grid-options-16-1440 .n-14,
.grid-options-16-1440 .n-15,
.grid-options-16-1440 .n-16 {
    display: none;
  }
  .col {
    width: 58px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}
/* -------------------------------------------------------- fin :grid-options -------------------------------------------------------- */
.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  border: 1px solid #272d40;
  border-radius: 3px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
  width: 700px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal .popUpEnTete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.modal .popUpEnTete .titre {
  font-size: 1.5em;
  color: #272d40;
  font-family: "Poppins Extra Bold";
}
.modal .popUpEnTete .close-button {
  border: none;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  background: none;
  cursor: pointer;
}
.modal .contenu-popup {
  padding: 10px 15px;
  font-family: "Poppins Regular";
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.modal .contenu-popup button {
  width: 50%;
  padding: 5px 8px;
  margin: 15px 0;
  font-size: 0.8em;
  border: none;
  outline: none;
  font-family: "Poppins Medium";
  border-radius: 3px;
  color: #022b88;
  cursor: pointer;
  box-shadow: 1px 2px 5px #39c7ce;
  transition: all 0.3s linear;
}
.modal .contenu-popup button a {
  text-decoration: none;
  color: #022b88;
}
.modal .contenu-popup button:hover {
  transform: scale(1.04);
  border: 1px solid #39c7ce;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */