/* =============== Google polices (Font) ================= */
/* =============== couleurs (colores) ================= */
/* =============== source et typographie ================= */
/* =============== scroll smooth ================= */
/* -------------------------------------------------------- grid-options-16-1440  -------------------------------------------------------- */
/* -------------------------------------------------------- fin :grid-options -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100%;
}

#form-contact {
  width: 100%;
  min-height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  background: rgba(32, 178, 171, 0.771);
}
#form-contact h2 {
  font-family: "Oswald", sans-serif, serif;
  font-size: 3.5em;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}
#form-contact .contactmy {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#form-contact .contactmy .cabinetmaps {
  width: 45%;
  height: auto;
}
#form-contact .contactmy .cabinetmaps .cabinet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#form-contact .contactmy .cabinetmaps .cabinet h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  transition: all 0.3s linear;
  font-family: "Poppins", sans-serif;
}
#form-contact .contactmy .cabinetmaps .cabinet h2:hover {
  text-decoration: underline;
}
#form-contact .contactmy .cabinetmaps .cabinet p {
  font-family: "Poppins Regular";
  text-align: center;
}
#form-contact .contactmy .cabinetmaps .cabinet a {
  padding: 8px 0 0 0;
  margin: auto;
  color: black;
  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer;
}
#form-contact .contactmy .cabinetmaps .cabinet a i {
  color: #022b88;
  transition: all 0.2s linear;
}
#form-contact .contactmy .cabinetmaps .cabinet a i:hover {
  color: green;
}
#form-contact .contactmy .cabinetmaps .cabinet a:hover {
  transform: scale(1.1);
}
#form-contact .contactmy .cabinetmaps .maps {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
#form-contact .contactmy .cabinetmaps .maps iframe {
  width: 100%;
}
#form-contact .contactmy .cabinetmaps .maps iframe:hover {
  box-shadow: 0 2px 15px #022b88;
}
#form-contact .contactmy form {
  width: 45%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
#form-contact .contactmy label {
  font-family: "Oswald", sans-serif;
}
#form-contact .contactmy input:not(#boutonSend),
#form-contact .contactmy textarea,
#form-contact .contactmy label {
  display: block;
  margin: 5px auto;
  width: 100%;
  color: #000;
}
#form-contact .contactmy input::-moz-placeholder {
  color: white;
  font-family: "Poppins Regular";
  font-size: 0.9em;
  opacity: 0.6;
}
#form-contact .contactmy input:-ms-input-placeholder {
  color: white;
  font-family: "Poppins Regular";
  font-size: 0.9em;
  opacity: 0.6;
}
#form-contact .contactmy input::placeholder {
  color: white;
  font-family: "Poppins Regular";
  font-size: 0.9em;
  opacity: 0.6;
}
#form-contact .contactmy input:not(#boutonSend),
#form-contact .contactmy textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #022b88;
  color: #000;
  font-size: 18px;
  padding: 5px 5px;
}
#form-contact .contactmy textarea {
  font-size: 1em;
  padding: 10px;
  color: white;
  font-family: "Poppins Regular";
}
#form-contact .contactmy #date {
  cursor: pointer;
}
#form-contact .contactmy #boutonSend {
  width: 30%;
  font-size: 18px;
  padding: 15px 0;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #545557;
  color: #fff;
  border-radius: 3px;
}
#form-contact .contactmy #boutonSend:hover {
  background-color: transparent;
  color: #000;
  transform: scale(1.05);
  text-decoration: underline;
}
#form-contact .contactmy input:focus,
#form-contact .contactmy textarea:focus {
  outline: 1px solid #20a39d;
  background: rgba(128, 128, 128, 0.759);
}
#form-contact #subject {
  border: none;
  transition: all 0.3s ease;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}
#form-contact #subject:hover {
  background-color: #545557;
  color: #fff;
}
#form-contact #subject:focus {
  outline: 1px solid #20a39d;
}

@media screen and (max-width: 769px) {
  body {
    background-color: darkorchid;
  }
  body p {
    font-size: smaller;
  }
  body #form-contact h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 426px) {
  body {
    background-color: darkblue;
  }
  body #form-contact h2 {
    font-size: 2em;
  }
  body #form-contact .contactmy {
    flex-direction: column;
  }
  body #form-contact .contactmy #boutonSend {
    font-size: 1em;
    padding: auto;
  }
}
@media screen and (max-width: 376px) {
  body #form-contact h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 321px) {
  body {
    background-color: darkolivegreen;
  }
}/*# sourceMappingURL=formulaire.css.map */