/* --------------------------------------------------------Start import CSS - Mobile - custom +++ -------------------------------------------------------- */
@import "./mobile.css";
@import "./custom-col.css";
/* --------------------------------------------------------End import CSS - Mobile - custom +++ -------------------------------------------------------- */
:root  {
  /* Color */

  /* =============== Google polices (Font) ================= */

  /* =============== couleurs (colores) ================= */
  --first-color: #f2a20c;
  --white-color: #e9eaec;
  --dark-color: #272d40;
  --dark-color-lighten: #f2f5ff;
  /* =============== source et typographie ================= */
  --body-font: "Poppins", sans-serif;
  --h1-font-sieze: 80px;
  --h1-font-sieze-name: 160px;
  --h2-font-sieze: 1.875rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* =============== scroll smooth ================= */
  scroll-behavior: smooth;
}

/* < !-- ------------------------------------- BODY ------------------------------------- --> */
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

/* < !-- ------------------------------------- logo - menu - icons ------------------------------------- --> */
/* -- logo--------------------------------- */
/* -- icons--------------------------------- */
/* -- menu --------------------------------- */
/* < !-- ------------------------------------- menu navigation  ------------------------------------- --> */

/* -------------------------------------------------------- Home -------------------------------------------------------- */
/* -------------------------------------------------------- about -------------------------------------------------------- */
/* --------------------------------------------------------Start contact -------------------------------------------------------- */
/* --------------------------------------------------------End contact -------------------------------------------------------- */

/* -------------------------------------------------------- strat Media queries -------------------------------------------------------- */

/* @media all and (max-width: 425px) {
  body {
    color: white;
    background-color: red;
  }
} */
/* -------------------------------------------------------- End Media queries -------------------------------------------------------- */
