* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 50%;
    place-items: center;
    text-align: center;
    background: #f2f2f2;
}

.slider {
    max-width: 1150px;
    /* overflow: hidden; */
    display: flex;

}

.card {
    cursor: pointer;
    padding-bottom: 10px;
    /* backdrop-filter: blur(25px); */
    /* border-bottom: solid  rgb(22, 2, 136); */
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.owl-stage {
    height: 800px;
    padding-top: 50px;
}

.slider:hover .card:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(53, 121, 248, 0.678);
    transform: translateY(-20px);
}

.card:hover>.content>.sub-title{
    color: rgb(12, 3, 141);
}
.card:hover>.content>.title:after{
    background: rgb(12, 3, 141);
}

.title {
    padding: 15px;
    position: relative;
}
.title::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    border-radius: 10px;
    background: rgb(173, 171, 171);
    left: calc(50% - 50px);
    top: 50px;
}

.slider .card {
    background: #fff;
    flex: 1;
    margin: 0 10px;
    border-radius: 20px;
    line-height: 25px;
    transition: all .2s ease-in;

}

.slider .card .image img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    border: solid white;
}


.slider .card .content {
    padding: 10px 20px;
}

.card .content .title {
    font-size: 25px;
    font-weight: 600;

}

.card .content .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(241, 218, 7);

}

.card .content p {
    text-align: justify;
    /* margin: 20px 15px; */
}