/* =============== Google polices (Font) ================= */
/* =============== couleurs (colores) ================= */
/* =============== source et typographie ================= */
/* =============== scroll smooth ================= */

/* =============== @import css plugin's ================= */
@import "btn-to-up.css";
@import "menu_header_Icons_Liens.css";
@import "progression.css";
@import"gridoptions_full.css";

/* --------------------------------------------------------  Start CSS Full page -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  /* optional: show position indicator in red */
}
html ::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space /
  background: transparent; /* optional: just make scrollbar invisible */
}
html ::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

/*  progression
=========================================================================== */
#progression {
  width: 0;
  height: 5px;
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 100;
}
/*  Section home
=========================================================================== */
.placeholder-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 15vw;
}
.placeholder-title h1 {
  font-size: 6vw;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.placeholder-title h1 span {
  font-size: 3vmax;
}

#back {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
#back h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Playfair Display" serif;
  line-height: 100px;
  margin: 80px;
  font-weight: bold;
  font-style: italic;
}
#back #topup {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
#back #topup .imgcntnr {
  width: 250px;
  height: 250px;
  background-color: yellow;
  background-size: cover;
  background-position: center;
}
#back #topup #one,
#back #topup #sx {
  width: 250px;
  height: 400px;
  background-color: red;
}
#back #topup #one {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  background-color: blue;
}
#back #topup #sx {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  background-color: blue;
}
#back #topup #holdr1 {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(0, -50%);
}
#back #topup .holdr div {
  margin-top: 20px;
}
#back #topup #holdr2 {
  position: absolute;
  top: 50%;
  right: 300px;
  transform: translate(0, -50%);
}
#back #topup #videoplyr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 100vh;
  overflow: hidden;
  background-color: green;
}
#back #topup #videoplyr video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
}
#back #topup #one {
  background-image: url(../assets/img/ImgR2-4.png);
}
#back #topup #two {
  background-image: url(../assets/img/imgR2-1.jpg);
}
#back #topup #three {
  background-image: url(../assets/img/imgR2-2.png);
}
#back #topup #fr {
  background-image: url(../assets/img/imgL2-6.jpg);
}
#back #topup #fv {
  background-image: url(../assets/img/imgL2-4.jpg);
}
#back #topup #sx {
  background-image: url(../assets/img/imgL2-1.jpg);
}
#back .contact {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
}
#back .contact h2 {
  font-family: "Oswald", sans-serif, serif;
  font-size: 59px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}
#back .contact .contactmy {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#back .contact .contactmy .cabinetmaps {
  width: 50%;
  height: auto;
}
#back .contact .contactmy .cabinetmaps .cabinet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#back .contact .contactmy .cabinetmaps .cabinet h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  transition: all 0.3s linear;
  font-family: "Oswald", sans-serif;
}
#back .contact .contactmy .cabinetmaps .cabinet h2:hover {
  text-decoration: underline;
}
#back .contact .contactmy .cabinetmaps .cabinet p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
#back .contact .contactmy .cabinetmaps .cabinet i {
  padding: 10px 0;
  margin: auto;
  font-family: "Oswald", sans-serif;
  transition: all 0.2s linear;
  cursor: pointer;
}
#back .contact .contactmy .cabinetmaps .cabinet i:hover {
  transform: scale(1.1);
}
#back .contact .contactmy .cabinetmaps .maps {
  width: 100%;
  height: auto;
  height: auto;
  padding: 20px 0;
}
#back .contact .contactmy .cabinetmaps .maps iframe {
  width: 100%;
}
#back .contact .contactmy .cabinetmaps .maps iframe:hover {
  box-shadow: 0 2px 15px #022b88;
}
#back .contact .contactmy form {
  width: 40%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
#back .contact .contactmy label {
  font-family: "Oswald", sans-serif;
}
#back .contact .contactmy input:not(#boutonSend),
#back .contact .contactmy textarea,
#back .contact .contactmy label {
  display: block;
  margin: 5px auto;
  width: 100%;
  color: #000;
}
#back .contact .contactmy input::-moz-placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
#back .contact .contactmy input:-ms-input-placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
#back .contact .contactmy input::placeholder {
  color: #39c7ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
}
#back .contact .contactmy input:not(#boutonSend),
#back .contact .contactmy textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #022b88;
  color: #000;
  font-size: 18px;
  padding: 5px 5px;
}
#back .contact .contactmy textarea {
  font-size: 12px;
  padding: 10px 15px;
}
#back .contact .contactmy #boutonSend {
  width: 30%;
  font-size: 18px;
  padding: 15px 0;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #545557;
  color: #fff;
  border-radius: 3px;
}
#back .contact .contactmy #boutonSend:hover {
  background-color: transparent;
  color: #000;
  transform: scale(1.05);
  text-decoration: underline;
}
#back .contact .contactmy input:focus,
#back .contact .contactmy textarea:focus {
  outline: 1px solid #20a39d;
}
#back .contact #subject {
  border: none;
  transition: all 0.3s ease;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
}
#back .contact #subject:hover {
  background-color: #545557;
  color: #fff;
}
#back .contact #subject:focus {
  outline: 1px solid #20a39d;
  border-radius: 5px;
}
#back .suite {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #eee;
}
#back .suite2 {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(223, 12, 12);
}
#back .suite3 {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(138, 0, 252);
}
#back .suite4 {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  background-color: rgb(252, 235, 0);
} /*# sourceMappingURL=style.css.map */
