/* =============== Google polices (Font) ================= */
$font-family-Oswald: "Oswald", sans-serif;
$font-family-Poppins: "Poppins", sans-serif;

/* =============== couleurs (colores) ================= */
$color-bleu-turquoise: #39c7ce;
$color-bleu-marine: #022b88;
$dark-color: #333;
$dark-color-lighten: #f2f5ff;
/* =============== source et typographie ================= */
$h1-font-size: 120px;
$h2-font-size: 30px;
$normal-font-size: 16px;
$small-font-size: 14px;

/* =============== scroll smooth ================= */
$scroll-behavior: smooth;

/* -------------------------------------------------------- grid-options-16-1440  -------------------------------------------------------- */
.grid-options-16-1440 {
  width: 1440px;
  // width: 1024px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-bleu-marine;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  box-sizing: border-box;

  .col {
    width: 69px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }

  .n-1 {
    margin-left: 0;
  }

  .n-16 {
    margin-right: 0;
  }
}

/* -------------------------------------------------------- grid-options- 12 - 1024  -------------------------------------------------------- */
@media all and (max-width: 1025px) {

  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }

  .col {
    width: 64px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}

/* -------------------------------------------------------- grid-options-8 - 768  -------------------------------------------------------- */
@media all and (max-width: 769px) {

  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }

  .col {
    width: 74px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}

/* -------------------------------------------------------- grid-options- 4 - 425  -------------------------------------------------------- */

@media all and (max-width: 426px) {

  .grid-options-16-1440 .n-5,
  .grid-options-16-1440 .n-6,
  .grid-options-16-1440 .n-7,
  .grid-options-16-1440 .n-8,
  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }

  .col {
    width: 83px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}

/* -------------------------------------------------------- grid-options- 4 - 375  -------------------------------------------------------- */

@media all and (max-width: 376px) {

  .grid-options-16-1440 .n-5,
  .grid-options-16-1440 .n-6,
  .grid-options-16-1440 .n-7,
  .grid-options-16-1440 .n-8,
  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }

  .col {
    width: 71px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}

/* -------------------------------------------------------- grid-options- 4 - 320  -------------------------------------------------------- */

@media all and (max-width: 321px) {

  .grid-options-16-1440 .n-5,
  .grid-options-16-1440 .n-6,
  .grid-options-16-1440 .n-7,
  .grid-options-16-1440 .n-8,
  .grid-options-16-1440 .n-9,
  .grid-options-16-1440 .n-10,
  .grid-options-16-1440 .n-11,
  .grid-options-16-1440 .n-12,
  .grid-options-16-1440 .n-13,
  .grid-options-16-1440 .n-14,
  .grid-options-16-1440 .n-15,
  .grid-options-16-1440 .n-16 {
    display: none;
  }

  .col {
    width: 58px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
}

/* -------------------------------------------------------- fin :grid-options -------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-Poppins;
  list-style: none;
  text-decoration: none;
  // font-family: "Gilroy";
}

// ------------------ start remove scroll bar
html {
  overflow: scroll;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space /
  background: transparent; /* optional: just make scrollbar invisible */
  }

  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
}

// ------------------ fin remove scroll bar

body {
  // font-family: $font-family-Poppins;
  //  background-color: $dark-color;
  background-repeat: no-repeat;
  background-size: cover;
  // color: #fff;
}

// header {
//   position: fixed;
//   width: 100%;
//   left: 0;
//   top: 0;
//   z-index: 99;

//   .header-row {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 20px 60px;
//     border: 1px solid black;
//   }

//   .brand-logo a {
//     text-decoration: none;
//     color: $dark-color;
//     font-weight: 800;
//     font-size: 1.4em;
//   }

//   .menu-toggle {
//     background: transparent;
//     border: none;
//     cursor: pointer;
//   }

//   .hamburger path {
//     fill: none;
//     // stroke: #fff;
//     stroke: #333;
//     stroke-linecap: round;
//   }
// }



// .fullpage-menu {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100vh;
//   display: none;
//   z-index: 98;

//   .fullpage-menu-inner {
//     display: flex;
//     align-items: center;
//     height: 100%;
//     padding: 100px 60px;
//   }

//   .menu-bg {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//   }

//   .menu-bg span {
//     width: 100%;
//     background: #1a77ad;
//     display: block;
//     height: 33.334%;
//   }

//   nav {
//     position: relative;
//     z-index: 10;

//     ul {
//       list-style-type: none;
//     }

//     li {
//       transition: transform 300ms ease-in-out;
//       overflow: hidden;
//     }

//     li+li {
//       margin-top: 20px;
//     }

//     li a {
//       font-size: 5vmax;
//       color: #fff;
//       text-decoration: none;
//       text-transform: uppercase;
//       font-weight: 400;
//       display: inline-block;
//       line-height: 1;
//     }

//     li:hover {
//       transform: translateX(50px);
//     }
//   }
// }

.header-nav-footer {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;

  .social-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
  }

  .social-links li {
    font-size: 18px;
    font-weight: 500;
  }

  .social-links li+li {
    margin-left: 15px;
  }

  .social-links li:last-child {
    margin-left: auto;
  }

  .social-links a {
    color: #fff;
    text-decoration: none;
  }
}

.placeholder-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 15vw;

  h1 {
    font-size: 6vw;
    // color: #fff;
    color: $dark-color;
    font-weight: 500;
    text-align: center;

    span {
      font-size: 3vmax;
    }
  }
}

#back {
  width: 100%;
  min-height: 100vh;
  // background-color: #022b88;
  overflow: hidden;

  h1 {
    text-align: center;
    font-size: 50px;
    // font-family: "Saol Display";
    // font-family: $font-family-Poppins;
    font-family: "Playfair Display" serif;
    line-height: 100px;
    margin: 80px;
    font-weight: bold;
    font-style: italic;
  }

  #topup {
    position: relative;
    width: 100%;
    min-height: 100vh;
    // background-color:red;

    .imgcntnr {
      width: 250px;
      height: 250px;
      background-color: yellow;
      background-size: cover;
      background-position: center;
    }

    #one,
    #sx {
      width: 250px;
      height: 400px;
      background-color: red;
    }

    #one {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0, -50%);
      background-color: blue;
    }

    #sx {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0, -50%);
      background-color: blue;
    }

    #holdr1 {
      position: absolute;
      top: 50%;
      left: 300px;
      transform: translate(0, -50%);
    }

    .holdr div {
      margin-top: 20px;
    }

    #holdr2 {
      position: absolute;
      top: 50%;
      right: 300px;
      transform: translate(0, -50%);
    }

    #videoplyr {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
      min-height: 100vh;
      overflow: hidden;
      background-color: green;

      video {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
      }
    }

    #one {
      background-image: url(../assets/img/ImgR2-4.png);
    }

    #two {
      background-image: url(../assets/img/imgR2-1.jpg);
    }

    #three {
      background-image: url(../assets/img/imgR2-2.png);
    }

    #fr {
      background-image: url(../assets/img/imgL2-6.jpg);
    }

    #fv {
      background-image: url(../assets/img/imgL2-4.jpg);
    }

    #sx {
      background-image: url(../assets/img/imgL2-1.jpg);
    }
  }

  .contact {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    overflow: hidden;
    position: sticky;

    h2 {
      font-family: $font-family-Oswald, serif;
      font-size: 59px;
      font-weight: 600;
      padding-top: 20px;
      text-align: center;
    }

    .contactmy {
      width: 80%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      // background-color: #eee;

      .cabinetmaps {
        width: 50%;
        height: auto;
        // background-color: blue;

        .cabinet {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: auto;

          h2 {
            width: fit-content;
            text-align: center;
            transition: all 0.3s linear;
            font-family: $font-family-Oswald;

            &:hover {
              text-decoration: underline;
            }
          }

          p {
            font-family: $font-family-Poppins;
            text-align: center;
          }

          i {
            padding: 10px 0;
            margin: auto;
            font-family: $font-family-Oswald;
            transition: all 0.2s linear;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .maps {
          width: 100%;
          height: auto;
          height: auto;
          padding: 20px 0;

          iframe {
            width: 100%;

            &:hover {
              box-shadow: 0 2px 15px $color-bleu-marine;
            }

            // height: auto;
          }
        }
      }

      form {
        width: 40%;
        margin: auto;
        // text-align: left;
        padding: 20px 0;
        // background-color: red;
        display: flex;
        flex-direction: column;
      }

      label {
        font-family: $font-family-Oswald;
      }

      input:not(#boutonSend),
      textarea,
      label {
        display: block;
        margin: 5px auto;
        width: 100%;
        color: #000;
      }

      input::placeholder {
        color: $color-bleu-turquoise;
        font-family: $font-family-Poppins;
        font-size: 0.9em;
        opacity: 0.6;
      }

      input:not(#boutonSend),
      textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $color-bleu-marine;
        color: #000;
        font-size: 18px;
        padding: 5px 5px;
      }

      textarea {
        font-size: 12px;
        padding: 10px 15px;
      }

      #boutonSend {
        width: 30%;
        font-size: 18px;
        padding: 15px 0;
        border: none;
        outline: none;
        margin-top: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: #545557;
        color: #fff;
        border-radius: 3px;
      }

      #boutonSend:hover {
        background-color: transparent;
        color: #000;
        transform: scale(1.05);
        text-decoration: underline;
      }

      input:focus,
      textarea:focus {
        outline: 1px solid #20a39d;
      }
    }

    #subject {
      // appearance:none;
      border: none;
      transition: all 0.3s ease;
      padding: 10px;
      font-size: 1.1em;
      border-radius: 5px;

      &:hover {
        background-color: #545557;
        color: #fff;

      }
    }

    #subject:focus {
      outline: 1px solid #20a39d;
      border-radius: 5px;
    }
  }

  .suite {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #eee;
  }

  .suite2 {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(223, 12, 12);
  }

  .suite3 {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(138, 0, 252);
  }

  .suite4 {
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
    background-color: rgb(252, 235, 0);
  }
}