
/* -------------------------------------------------------- grid-options-16-1440  -------------------------------------------------------- */
.grid-options-16-1440 {
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #022b88;
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    box-sizing: border-box;
  }
  .grid-options-16-1440 .col {
    width: 69px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 0, 0, 0.05);
    margin: 0 10px;
  }
  .grid-options-16-1440 .n-1 {
    margin-left: 0;
  }
  .grid-options-16-1440 .n-16 {
    margin-right: 0;
  }
  
  /* -------------------------------------------------------- grid-options- 12 - 1024  -------------------------------------------------------- */
  @media all and (max-width: 1025px) {
    .grid-options-16-1440 .n-13,
    .grid-options-16-1440 .n-14,
    .grid-options-16-1440 .n-15,
    .grid-options-16-1440 .n-16 {
      display: none;
    }
    .col {
      width: 64px;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      background-color: rgba(252, 0, 0, 0.05);
      margin: 0 10px;
    }
  }
  /* -------------------------------------------------------- grid-options-8 - 768  -------------------------------------------------------- */
  @media all and (max-width: 769px) {
    .grid-options-16-1440 .n-9,
    .grid-options-16-1440 .n-10,
    .grid-options-16-1440 .n-11,
    .grid-options-16-1440 .n-12,
    .grid-options-16-1440 .n-13,
    .grid-options-16-1440 .n-14,
    .grid-options-16-1440 .n-15,
    .grid-options-16-1440 .n-16 {
      display: none;
    }
    .col {
      width: 74px;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      background-color: rgba(252, 0, 0, 0.05);
      margin: 0 10px;
    }
  }
  /* -------------------------------------------------------- grid-options- 4 - 425  -------------------------------------------------------- */
  @media all and (max-width: 426px) {
    .grid-options-16-1440 .n-5,
    .grid-options-16-1440 .n-6,
    .grid-options-16-1440 .n-7,
    .grid-options-16-1440 .n-8,
    .grid-options-16-1440 .n-9,
    .grid-options-16-1440 .n-10,
    .grid-options-16-1440 .n-11,
    .grid-options-16-1440 .n-12,
    .grid-options-16-1440 .n-13,
    .grid-options-16-1440 .n-14,
    .grid-options-16-1440 .n-15,
    .grid-options-16-1440 .n-16 {
      display: none;
    }
    .col {
      width: 83px;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      background-color: rgba(252, 0, 0, 0.05);
      margin: 0 10px;
    }
  }
  /* -------------------------------------------------------- grid-options- 4 - 375  -------------------------------------------------------- */
  @media all and (max-width: 376px) {
    .grid-options-16-1440 .n-5,
    .grid-options-16-1440 .n-6,
    .grid-options-16-1440 .n-7,
    .grid-options-16-1440 .n-8,
    .grid-options-16-1440 .n-9,
    .grid-options-16-1440 .n-10,
    .grid-options-16-1440 .n-11,
    .grid-options-16-1440 .n-12,
    .grid-options-16-1440 .n-13,
    .grid-options-16-1440 .n-14,
    .grid-options-16-1440 .n-15,
    .grid-options-16-1440 .n-16 {
      display: none;
    }
    .col {
      width: 71px;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      background-color: rgba(252, 0, 0, 0.05);
      margin: 0 10px;
    }
  }
  /* -------------------------------------------------------- grid-options- 4 - 320  -------------------------------------------------------- */
  @media all and (max-width: 321px) {
    .grid-options-16-1440 .n-5,
    .grid-options-16-1440 .n-6,
    .grid-options-16-1440 .n-7,
    .grid-options-16-1440 .n-8,
    .grid-options-16-1440 .n-9,
    .grid-options-16-1440 .n-10,
    .grid-options-16-1440 .n-11,
    .grid-options-16-1440 .n-12,
    .grid-options-16-1440 .n-13,
    .grid-options-16-1440 .n-14,
    .grid-options-16-1440 .n-15,
    .grid-options-16-1440 .n-16 {
      display: none;
    }
    .col {
      width: 58px;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      background-color: rgba(252, 0, 0, 0.05);
      margin: 0 10px;
    }
  }
  /* -------------------------------------------------------- fin :grid-options -------------------------------------------------------- */
  