@font-face {
  font-family: "Poppins Extra Bold";
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Black";
  src: url(/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Italic";
  src: url(/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Regular";
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Medium";
  src: url(/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Thin";
  src: url(/fonts/Poppins/Poppins-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins Light";
  src: url(/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald Bold";
  src: url(/fonts/Oswald/Oswald-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald SemiBold";
  src: url(/fonts/Oswald/Oswald-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald Variable";
  src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}
/* =============== couleurs (colores) ================= */
@font-face {
  font-family: "Oswald Bold ";
  src: url(/fonts/Oswald/Oswald-Bold.ttf) format(truetype);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vignette {
  padding-top: 10%;
  background-image: url(../assets/img/bgsport.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
}
.vignette .card {
  margin: 50px;
  position: relative;
  max-width: 350px;
  min-width: 300px;
  height: 190px;
  background: #022b88;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgb(0, 0, 0);
  transition: all 0.3s linear;
}
.vignette .card:hover .ImgBox {
  width: 200px;
  height: 160px;
}
.vignette .card:hover {
  height: 390px;
  background: rgba(57, 199, 206, 0.6941176471);
}
.vignette .card .ImgBox {
  position: absolute;
  width: 150px;
  height: 130px;
  background: #000;
  left: 50%;
  top: -70px;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 2px 3px 5px #022b88;
  overflow: hidden;
  transition: all 0.3s linear;
}
.vignette .card .ImgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.vignette .card .contenu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.vignette .card .contenu .contenant {
  width: 100%;
  text-align: center;
  transition: all 0.2s;
  transform: translateY(77px);
}
.vignette .card .contenu h2 {
  padding: 10px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-family: "Poppins Regular";
}
.vignette .card .contenu h2:hover {
  color: black;
  transform: scale(1.01);
}
.vignette .card .contenu .Apercu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.2em;
  padding: 0 7px;
}
.vignette .card .contenu .Apercu h3 {
  font-size: 0.85em;
  font-family: "Poppins Regular";
  color: beige;
  opacity: 0.8;
  margin: 7px 5px 0;
  text-transform: capitalize;
}
.vignette .card .contenu .Btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 11vh;
  margin-bottom: 10px;
}
.vignette .card .contenu .Btns button {
  padding: 5px 8px;
  margin: 0px 15px;
  font-size: 0.8em;
  border: none;
  outline: none;
  font-family: "Poppins Medium";
  border-radius: 3px;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 1px 2px 5px #39c7ce;
  transition: all 0.3s linear;
}
.vignette .card .contenu .Btns button a {
  text-decoration: none;
  color: black;
}
.vignette .card .contenu .Btns button:hover {
  transform: scale(1.04);
  border: 1px solid #39c7ce;
}
.vignette .card .contenu .Btns button:nth-child(1) {
  background-color: #022b88;
}
.vignette .card .contenu .Btns button:nth-child(1):hover ~ a button {
  background-color: #fff;
  color: #022b88;
}
.vignette .card .contenu .Btns button:nth-child(2) {
  color: #022b88;
}

/* -------------------------------------------------------- grid-options-16-1440  -------------------------------------------------------- */
/* -------------------------------------------------------- fin :grid-options -------------------------------------------------------- */
.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  color: rgb(14, 42, 221);
  font-family: "Poppins Regular";
  box-shadow: 1px 2px 5px #39c7ce;
  border-radius: 5px;
  background-color: rgba(19, 67, 128, 0.713);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
  width: 700px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal .popUpEnTete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  overflow: hidden;
}
.modal .popUpEnTete .titre {
  font-size: 2em;
  color: #39c7ce;
  font-family: "Poppins Extra Bold";
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  transition: all 0.2s linear;
}
.modal .popUpEnTete .titre:hover {
  transform: scale(1.02);
}
.modal .popUpEnTete .close-button {
  border: none;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.modal .popUpEnTete .close-button:hover {
  transform: rotate(90deg) scale(1.02);
  color: #022b88;
}
.modal #only {
  font-size: 1em;
}
.modal #only1 {
  font-size: 1em;
}
.modal .contenu-popup {
  padding: 10px 15px;
  font-family: "Oswald";
  font-size: 1.15em;
  line-height: 1.5em;
  text-align: justify;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.modal .contenu-popup a {
  text-decoration: none;
  margin: 15px 0;
}
.modal .contenu-popup a button {
  cursor: pointer;
  width: 100%;
  padding: 5px 8px;
  font-size: 1em;
  color: #022b88;
  background-color: white;
  font-family: "Poppins Medium";
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 5px #39c7ce;
  transition: all 0.3s linear;
}
.modal .contenu-popup a button:hover {
  transform: scale(1.04);
  border: 1px solid #39c7ce;
  background-color: #022b88;
  color: white;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
  background-image: url(/SportCompile/assets/img/Michael-Jordan-ipad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(3px);
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .vignette .card {
    background-color: darkred;
  }
}/*# sourceMappingURL=style2.css.map */